.nav-link{
    color: white;
}

#submitBtn{
    background-color: black;
    color: white;
}

.form1{
    margin-left: 20px;
    margin-right: 20px;
}
input{
    width: 100%;
}

.formerror{
    color: red;
}